.formContenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 15px;
   

    /* background-image: url("../img/bg.png");
    background-size: cover; */
    
}

body{
    background-image: url("../img/bg.png");
    background-size: cover;
    background-attachment: fixed;
}

/* ESTO ES LO QIE APARECE EN LA PANTALLA PRINCIPAL DEL LOGIN */