.divContenedor{
    /* background: rgb(231,95,155);
    background: linear-gradient(0deg, rgba(231,95,155,1) 0%, rgba(21,67,96,1) 100%); */
    /* background-image: url("../img/bg1.png");
    background-repeat: no-repeat;
    background-size: cover; */
    color: #061747;
    box-sizing: border-box;
    border: #F71CC6;
    border-radius: 27px;
    background-color: #F5EB7F;
    opacity: 80%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
    
}