/* Estilos generales */
/* body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f; 
    color: #fff; 
    margin: 0;
    padding: 0;
} */


.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.title {
    text-align: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section {
    flex: 1;
}

.image {
    max-width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.footer {
    text-align: center;
    margin-top: 20px;
}

.sectionTitle,
.sectionText,
.listItem {
    color: #fff; 
}
