body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  .about-container {
    display: flex;
  }
  
  .image-container {
    width: 30%; /* Ajusta el ancho de la imagen según lo desees */
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
  }
  
  .content {
    width: 70%;
    padding-left: 20px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #ccc;
  }
  