.divContenedor{
    display: flex;
    justify-content: space-around;
    background-color: #061747 ;
    padding: 1%;
}

.buttonAbout, .buttonHome{ 
    /* background-color: #F1948A;
    width: 150px;
    height: 30px;
    font-size: larger;
    border-radius: 5px; */
    /* ------------------------------------------------- */
    transition-duration: 0.4s;
    color: #EAECEE;
    width: 150px;
    height: 30px;
    border-radius: 4px;
    font-size: larger;
   
} 

.buttonAbout:hover, .buttonHome:hover {
  background-color: #CD5C5C ; /* verde */
  color: #EAECEE;
}





